.gradientelinear{
        /* Gradiente linear de cima para baixo */
    background-image: linear-gradient(to bottom, red, yellow);

    /* Gradiente linear da esquerda para a direita */
    background-image: linear-gradient(to right, red, yellow);

    /* Gradiente linear diagonal */
    background-image: linear-gradient(to bottom right, red, yellow);
}
.gradienteradical{
    /* Gradiente radial */
    background-image: radial-gradient(circle, rgb(0, 68, 255), rgb(48, 107, 134));
}

.topo {
    position: absolute;
    top: 0;
    left: 0;
}

.topoul {
    list-style-type: none; /* Remove os marcadores da lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
}

.topoli {
    display: inline; /* Exibe os itens da lista em linha */
}

.topoa {
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px; /* Adiciona um pouco de padding para os links */
    color: white; /* Muda a cor do href*/
}

.borda-preta{
    border: 2px solid blue; /* Define a cor e a espessura da borda */
    border-radius: 5px; /* Arredonda os cantos da borda */
    padding: 10px; /* Adiciona espaço interno */
}